extends ../../layouts/default.pug  
include ../../mixins/filter-status.pug  

block main   
    if (role.permissions.includes("users_view"))
        .d-flex.justify-content-between.align-items-center.mb-4
            h1.mb-0
                i.fas.fa-users.text-primary.mr-2
                | User Accounts Management

        .row.mb-4  
            .col-md-4  
                .card.shadow-sm  
                    .card-header.bg-white  
                        h6.mb-0 Filter Status  
                    .card-body  
                        +filter-status(filterStatus)  
        .card.shadow-sm  
            .card-header.bg-white.py-3  
                .d-flex.justify-content-between.align-items-center  
                    h5.mb-0 Accounts List  
                    .input-group.w-25  
                        input.form-control(type="search" placeholder="Search accounts...")  
                        .input-group-append  
                            button.btn.btn-outline-secondary  
                                i.fas.fa-search  

            .card-body.p-0  
                .table-responsive  
                    table.table.table-hover.mb-0  
                        thead.bg-light  
                            tr   
                                th(width="5%") #  
                                th(width="15%") Avatar  
                                th(width="20%") Full Name  
                                th(width="20%") Email  
                                th(width="10%") Status  
                                th(width="15%") Actions  
                        tbody   
                            if (records.length > 0)  
                                each item, index in records   
                                    tr(data-href=`${prefixAdmin}/users/detail/${item.id}`) 
                                        td.align-middle.not-click #{index + 1}  
                                        td.align-middle  
                                            img.rounded-circle(  
                                                src=(item.avatar ? item.avatar : "/images/avatar.svg")
                                                alt=item.fullName  
                                                width="40"  
                                                height="40"  
                                                loading="lazy"
                                            )  
                                        td.align-middle #{item.fullName}  
                                        td.align-middle #{item.email}  
                                        td.align-middle.not-click
                                            if (role.permissions.includes("users_edit"))
                                                if (item.status === "active")  
                                                    span.badge.bg-success(  
                                                        button-change-status
                                                        data-id=item.id
                                                        data-status="active"  
                                                    ) Active  
                                                else    
                                                    span.badge.bg-danger(  
                                                        button-change-status
                                                        data-id=item.id
                                                        data-status="inactive"  
                                                    ) Inactive  
                                            else
                                                if (item.status === "active")  
                                                    span.badge.bg-success(  
                                                        data-id=item.id
                                                        data-status="active"  
                                                    ) Active  
                                                else    
                                                    span.badge.bg-danger(  
                                                        data-id=item.id
                                                        data-status="inactive"  
                                                    ) Inactive  
                                        if (item.deleted === false)
                                            td.align-middle.not-click
                                                .btn-group  
                                                    a.btn.btn-sm.btn-outline-info(  
                                                        href=`${prefixAdmin}/users/detail/${item.id}`  
                                                        title="Account"  
                                                    )  
                                                        i.fas.fa-eye  
                                                        span.ml-1.d-none.d-md-inline   
                                                    
                                                    if (role.permissions.includes("accounts_delete"))
                                                        button.btn.btn-sm.btn-outline-danger(  
                                                            button-delete  
                                                            data-id=item.id  
                                                            title="Delete Account"  
                                                        )  
                                                            i.fas.fa-trash  
                                                            span.ml-1.d-none.d-md-inline 
                                        else 
                                            td.align-middle(colspan="2").not-click  
                                                .btn-group  
                                                    if (role.permissions.includes("accounts_delete"))
                                                        button.btn.btn-sm.btn-outline-success(  
                                                            button-restore  
                                                            data-id=item.id  
                                                            title="Restore"  
                                                        )  
                                                            i.fas.fa-undo       
                            else   
                                tr   
                                    td.text-center.py-4(colspan="7")  
                                        .text-muted No accounts found
    form(  
        action=""  
        method="POST"  
        id="form-change-status"  
        data-path=`${prefixAdmin}/users/change-status`  
    )  
    form(  
        action=""  
        method="POST"  
        id="form-delete-item"  
        data-path=`${prefixAdmin}/users/delete`  
    )  
    form(  
        action=""  
        method="POST"  
        id="form-restore-item"  
        data-path=`${prefixAdmin}/users/restore`  
    )  
    script(src="/admin/js/product.js") 