extends ../../layouts/default.pug  
include ../../mixins/alert.pug  
include ../../mixins/select-tree.pug  

block main  
    if (role.permissions.includes("products_create"))  
        .product-create-page  
            +alert-error(3000)  

            .page-header  
                h1.page-title Create New Product  
                
            .card  
                .card-body  
                    form#form-create-product(  
                        action=`${prefixAdmin}/products/create`  
                        method="POST"  
                        enctype="multipart/form-data"  
                    )  
                        .row  
                            .col-md-8  
                                // Basic Information  
                                .section-form  
                                    h5.section-title Basic Information  
                                    .form-group.mb-3  
                                        label.form-label(for="title") Product Title  
                                        input.form-control(  
                                            type="text"  
                                            id="title"  
                                            name="title"  
                                            placeholder="Enter product title (min 8 characters)"  
                                        )  
                                    
                                    .form-group.mb-3  
                                        label.form-label(for="desc") Description  
                                        textarea.form-control.textarea-mce(  
                                            id="desc"  
                                            name="description"  
                                            rows="5"  
                                        )  

                                // Pricing Section  
                                .section-form.mt-4  
                                    h5.section-title Pricing & Inventory  
                                    .row  
                                        .col-md-4  
                                            .form-group.mb-3  
                                                label.form-label(for="price") Price ($)  
                                                input.form-control(  
                                                    type="number"  
                                                    id="price"  
                                                    name="price"  
                                                    value="0"  
                                                    min="0"  
                                                )  
                                        .col-md-4  
                                            .form-group.mb-3  
                                                label.form-label(for="discount") Discount (%)  
                                                input.form-control(  
                                                    type="number"  
                                                    id="discount"  
                                                    name="discountPercentage"  
                                                    value="0"  
                                                    min="0"  
                                                    max="100"  
                                                )  
                                        .col-md-4  
                                            .form-group.mb-3  
                                                label.form-label(for="stock") Stock  
                                                input.form-control(  
                                                    type="number"  
                                                    id="stock"  
                                                    name="stock"  
                                                    value="0"  
                                                    min="0"  
                                                )  

                            .col-md-4  
                                // Right Sidebar  
                                .section-form  
                                    h5.section-title Organization  
                                    .form-group.mb-3  
                                        label.form-label(for="product_category_id") Category  
                                        select.form-select(  
                                            name="product_category_id"  
                                            id="product_category_id"  
                                        )  
                                            option(value="") -- Choose Category --  
                                            if (category)  
                                                +select-tree(category)  

                                    .form-group.mb-3  
                                        label.form-label Position  
                                        input.form-control(  
                                            type="number"  
                                            id="position"  
                                            name="position"  
                                            placeholder="Auto increase"  
                                            min="1"  
                                        )  

                                    .form-group.mb-3  
                                        label.form-label Status  
                                        .d-flex.gap-3  
                                            .form-check  
                                                input.form-check-input(  
                                                    type="radio"  
                                                    id="statusActive"  
                                                    name="status"  
                                                    value="active"  
                                                    checked  
                                                )  
                                                label.form-check-label(for="statusActive") Active  
                                            .form-check  
                                                input.form-check-input(  
                                                    type="radio"  
                                                    id="statusInActive"  
                                                    name="status"  
                                                    value="inactive"  
                                                )  
                                                label.form-check-label(for="statusInActive") Inactive  

                                    .form-group.mb-3  
                                        label.form-label Featured Product  
                                        .d-flex.gap-3  
                                            .form-check  
                                                input.form-check-input(  
                                                    type="radio"  
                                                    id="featured1"  
                                                    name="featured"  
                                                    value="1"  
                                                )  
                                                label.form-check-label(for="featured1") Yes  
                                            .form-check  
                                                input.form-check-input(  
                                                    type="radio"  
                                                    id="featured0"  
                                                    name="featured"  
                                                    value="0"  
                                                    checked  
                                                )  
                                                label.form-check-label(for="featured0") No  

                                .section-form.mt-4  
                                    h5.section-title Product Image  
                                    .form-group(upload-image)  
                                        input.form-control.mb-2(  
                                            type="file"  
                                            id="thumbnail"  
                                            name="thumbnail"  
                                            accept="image/*"  
                                            upload-image-input  
                                        )  
                                        .image-preview-wrapper  
                                            img.img-fluid.rounded(  
                                                src=""  
                                                upload-image-preview  
                                            )  

                        .form-actions.mt-4  
                            button.btn.btn-primary.btn-lg(type="submit")  
                                i.fas.fa-save.me-2  
                                | Create Product  

        script(src="/admin/js/product.js" type="module")