extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug

block main
    h1 Product list page

    .card.mb-3 
        .card-header Filter and Find 
            .card-body 
                .row
                    .col-6
                        +filter-status(filterStatus)
                    .col-6 
                        +search(keyword)
    .card.mb-3 
        .card-header List
            .card-body 

                +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)

                table(
                    class = "table.table-hover.table-sm"
                    checkbox-multi
                )
                    thead
                        tr
                            th 
                                input(
                                    type="checkbox"
                                    name="checkall"
                                )
                            th Order 
                            th Picture 
                            th Title 
                            th Price 
                            th Status 
                            th To-do
                    tbody 
                        each item, index in products   
                            tr 
                                td 
                                    input(
                                        type="checkbox"
                                        name="id"
                                        value=item.id
                                    )
                                td #{index}
                                td 
                                    img(
                                        src=item.thumbnail, 
                                        alt=item.title
                                        width="100px"
                                        height="auto"
                                    )
                                    td #{item.title}
                                    td #{item.price}$
                                    td 
                                        if (item.status == "active")
                                            a(
                                                href="javascript:;"  
                                                data-status="active"
                                                data-id=item.id
                                                button-change-status
                                                class="btn btn-success"
                                            ) #{item.status}
                                        //- use java script to process logic 
                                        else 
                                            a(
                                                href=`javascript:;`
                                                data-status="inactive"
                                                data-id=item.id
                                                button-change-status
                                                class="btn btn-danger"
                                            ) #{item.status}
                                    td 
                                        button(class="btn btn-warning btn-sm") Edit 
                                        button(class="btn btn-danger btn-sm ml-1") Delete


    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
    ) 
    script(src="/admin/js/product.js") 


