extends ../../layouts/default.pug

block main
    h1(class="alert text-success alert-dismissible fade show") Product category page
                           
    .card.mb-3 
        .card-header List
            .card-body 
                .row 
                    .col-8
                    .col-4
                        a(
                            href=`${prefixAdmin}/product-category/create`
                            class="btn btn-outline-success"
                        ) + Add new
                table(
                    class = "table table-hover table-sm"
                    checkbox-multi
                )

                    thead
                        tr
                            th 
                                input(
                                    type="checkbox"
                                    name="checkall"
                                )
                            th Order 
                            th Picture 
                            th Title 
                            th Position
                            th Status 
                            th To-do
                    tbody 
                        each item, index in records  
                            if (item.deleted == false)
                                tr 
                                    td 
                                        input(
                                            type="checkbox"
                                            name="id"
                                            value=item.id
                                        )
                                    td #{index}
                                    td 
                                        img(
                                            src=item.thumbnail, 
                                            alt=item.title
                                            width="100px"
                                            height="auto"
                                        )
                                        td #{item.title}
                                        td 
                                            input(
                                                type="number"
                                                value=item.position 
                                                style="width: 60px"
                                                min="1"
                                                name="position"
                                            )
                                        td 
                                            if (item.status == "active")
                                                a(
                                                    href="javascript:;"  
                                                    data-status="active"
                                                    data-id=item.id
                                                    button-change-status
                                                    class="btn btn-success"
                                                ) #{item.status}
                                            //- use java script to process logic 
                                            else 
                                                a(
                                                    href=`javascript:;`
                                                    data-status="inactive"
                                                    data-id=item.id
                                                    button-change-status
                                                    class="btn btn-danger"
                                                ) #{item.status}
                                        td 
                                            a(
                                                class="btn btn-info btn-sm"
                                                href=`${prefixAdmin}/product-category/detail/${item.id}`
                                            ) Detail 
                                            a(
                                                class="btn btn-warning btn-sm"
                                                href=`${prefixAdmin}/product-category/edit/${item.id}`
                                            ) Edit 
                                            button(
                                                class="btn btn-danger btn-sm ml-1"
                                                button-delete
                                                data-id=item.id
                                            ) Delete
                            else
                                tr 
                                    td 
                                        input(
                                            type="checkbox"
                                            name="id"
                                            value=item.id
                                        )
                                    td #{index}
                                    td 
                                        img(
                                            src=item.thumbnail, 
                                            alt=item.title
                                            width="100px"
                                            height="auto"
                                        )
                                        td #{item.title}
                                        td 
                                            input(
                                                type="number"
                                                value=item.position 
                                                style="width: 60px"
                                                min="1"
                                                name="position"
                                            )
                                        td 
                                            button(class="btn btn-warning btn-sm") Edit 
                                            button(
                                                class="btn btn-success btn-sm ml-1"
                                                button-restore
                                                data-id=item.id
                                            ) Restore