extends ../../layouts/default.pug  
include ../../mixins/table-tree.pug  
include ../../mixins/filter-status.pug  
include ../../mixins/search.pug  
include ../../mixins/form-change-multi.pug  

block main  

    if (role.permissions.includes("products-category_view"))
        .d-flex.justify-content-between.align-items-center.mb-4
            h1.mb-0
                i.fas.fa-layer-group.text-primary.mr-2
                | Product Categories
            if (role.permissions.includes("products-category_create"))
                a(  
                    href=`${prefixAdmin}/product-category/create`  
                    class="btn btn-success"  
                )  
                    i.fas.fa-plus.mr-2  
                    | Add Category  

        .row.mb-4  
            .col-md-4  
                .card.shadow-sm  
                    .card-header.bg-white  
                        h6.mb-0 Filter Status  
                    .card-body  
                        +filter-status(filterStatus)  
            
            .col-md-4  
                .card.shadow-sm  
                    .card-header.bg-white  
                        h6.mb-0 Search  
                    .card-body  
                        +search(keyword)  

        .card.shadow-sm  
            .card-header.bg-white.py-3  
                .d-flex.justify-content-between.align-items-center  
                    h5.mb-0  
                        i.fas.fa-list.mr-2  
                        | Categories List  
                    +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)  



            .card-body.p-0  
                .table-responsive  
                    table.table.table-hover.mb-0(checkbox-multi)  
                        thead.bg-light  
                            tr  
                                th(width="3%")  
                                    .form-check  
                                        input.form-check-input(  
                                            type="checkbox"  
                                            name="checkall"  
                                        )  
                                th(width="5%") #  
                                th(width="15%") Image  
                                th(width="30%") Title  
                                th(width="10%") Position  
                                th(width="12%") Status  
                                th(width="25%") Actions  
                        tbody   
                            +table-tree(records)  
    script(type="module", src="/admin/js/product.js") 
        style.
            .category-tree-item {  
                transition: all 0.3s ease;  
            }  
            
            .category-tree-item:hover {  
                background-color: rgba(0,0,0,0.02);  
            }  

            .table td {  
                vertical-align: middle !important;  
            }  

            .category-thumbnail {  
                max-width: 80px;  
                height: auto;  
                border-radius: 4px;  
                box-shadow: 0 1px 3px rgba(0,0,0,0.1);  
            }  

            .badge {  
                padding: 0.5em 1em;  
                font-weight: 500;  
            }  

            .btn-group > .btn {  
                margin-right: 2px;  
            }  

            .tree-indent {  
                display: inline-block;  
                width: 1.5rem;  
                height: 1px;  
            }  

            .tree-icon {  
                cursor: pointer;  
                width: 20px;  
                height: 20px;  
                line-height: 20px;  
                text-align: center;  
                border-radius: 3px;  
                margin-right: 5px;  
            }  

            .tree-icon:hover {  
                background-color: rgba(0,0,0,0.05);  
            }