extends ../../layouts/default.pug
block main 
    if (role.permissions.includes("roles_permissions"))
        .d-flex.justify-content-between.align-items-center.mb-4
            h1.mb-0
                i.fas.fa-key.text-primary.mr-2
                | Permissions
        if (records)
            div(data-records=records)
            if (role.title == "Administrator")
                div(class="text-right")
                    button(
                        type="submit"
                        class="btn btn-primary mb-3"
                        button-submit 
                    ) Update 
            table(class="table table-hover table-sm" table-permissions)
                thead 
                    tr 
                        th Feature 
                        each item in records
                            th(class="text-center") #{item.title} 
                tbody
                    tr(data-name="id" class="d-none")
                        td
                        each item in records 
                            td(class="text-center")
                                input(type="text" value=item.id) 
                    //- Product category
                    tr 
                        td(colspan=records.length + 1)
                            b Product Category Management
                    tr(data-name="products-category_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="products-category_create")
                        td Create
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="products-category_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="products-category_delete")
                        td Delete 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    
                    //- Product List 
                    tr 
                        td(colspan=records.length + 1)
                            b Product Management 
                    tr(data-name="products_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="products_create")
                        td Create
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="products_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="products_delete")
                        td Delete 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    //- Role
                    tr 
                        td(colspan=records.length + 1)
                            b Role
                    tr(data-name="roles_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="roles_create")
                        td Create
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="roles_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="roles_delete")
                        td Delete 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="roles_permissions")
                        td Permissions 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    //- General Setting
                    tr 
                        td(colspan=records.length + 1)
                            b General Settig 
                    tr(data-name="settings_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="settings_create")
                        td Create
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="settings_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="settings_delete")
                        td Delete 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    //- Account
                    tr 
                        td(colspan=records.length + 1)
                            b Admin Account Management
                    tr(data-name="accounts_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="accounts_create")
                        td Create
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="accounts_edit")
                        td Edit 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="accounts_delete")
                        td Delete 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")                 
                    
                    //- User
                    tr 
                        td(colspan=records.length + 1)
                            b User Account Management
                    tr(data-name="users_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="users_edit")
                        td Disable
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="users_delete")
                        td Delete 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    //- Order
                    tr 
                        td(colspan=records.length + 1)
                            b Order Management
                    tr(data-name="orders_view")
                        td View 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="orders_edit")
                        td Edit
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
                    tr(data-name="orders_delete")
                        td Delete 
                        each item in records
                            td(class="text-center")
                                input(type="checkbox")
        else 
            a(
                href=`${prefixAdmin}/roles/create`
                class="btn btn-outline-success"
            ) + Add new
        form(
            id="form-change-permissions"
            method="POST"
            action=`${prefixAdmin}/roles/permissions?_method=PATCH`
            class="d-none"
        )
            div(class="form-group")
                input(
                    type="text"
                    class="form-control"
                    name="permissions"
                )
        script(src="/admin/js/role.js")
