mixin table-tree(items, level = -1)  
    each item, index in items  
        - const prefix = Array(level + 2).join("-- ")  
        if (!item.deleted)  
            tr.align-middle  
                td   
                    .form-check  
                        input.form-check-input(  
                            type="checkbox"  
                            name="id"  
                            value=item.id  
                        )  
                td.align-middle #{item.index}  
                td.align-middle  
                    img.img-thumbnail(  
                        src=item.thumbnail  
                        alt=item.title  
                        style="max-width: 100px; height: auto;"  
                    )  
                td.align-middle   
                    span.text-secondary #{prefix}  
                    span #{item.title}  
                td.align-middle  
                    input.form-control.form-control-sm(  
                        type="number"  
                        value=item.position   
                        style="width: 70px"  
                        min="1"  
                        name="position"  
                    )  
                if (role.permissions.includes("products-category_edit"))
                    td.align-middle  
                        if (item.status === "active")  
                            span.badge.badge-success.status-badge(  
                                href="javascript:;"  
                                data-status="active"  
                                data-id=item.id  
                                button-change-status  
                            )   
                                i.fas.fa-check.mr-1  
                                | Active  
                        else   
                            span.badge.badge-danger.status-badge(  
                                href="javascript:;"  
                                data-status="inactive"  
                                data-id=item.id  
                                button-change-status  
                            )  
                                i.fas.fa-times.mr-1  
                                | Inactive  
                else 
                    td.align-middle  
                        if (item.status === "active")  
                            span.badge.badge-success.status-badge(  
                                href="javascript:;"  
                                data-status="active"  
                                data-id=item.id  
                            )   
                                i.fas.fa-check.mr-1  
                                | Active  
                        else   
                            span.badge.badge-danger.status-badge(  
                                href="javascript:;"  
                                data-status="inactive"  
                                data-id=item.id   
                            )  
                                i.fas.fa-times.mr-1  
                                | Inactive  
                td.align-middle  
                    .btn-group  
                        a.btn.btn-sm.btn-outline-info(  
                            href=`${prefixAdmin}/product-category/detail/${item.id}`  
                            title="Detail"  
                        )  
                            i.fas.fa-eye  
                        if (role.permissions.includes("products-category_edit"))
                            a.btn.btn-sm.btn-outline-warning(  
                                href=`${prefixAdmin}/product-category/edit/${item.id}`  
                                title="Edit"  
                            )  
                                i.fas.fa-edit  
                        if (role.permissions.includes("products-category_delete"))
                            button.btn.btn-sm.btn-outline-danger(  
                                button-delete  
                                data-id=item.id  
                                title="Delete"  
                            )  
                                i.fas.fa-trash  

            if (item.children && item.children.length > 0)  
                +table-tree(item.children, level + 2)  
        else  
            tr.table-warning  
                td   
                    .form-check  
                        input.form-check-input(  
                            type="checkbox"  
                            name="id"  
                            value=item.id  
                        )  
                td.align-middle #{index}  
                td.align-middle  
                    img.img-thumbnail(  
                        src=item.thumbnail  
                        alt=item.title  
                        style="max-width: 100px; height: auto;"  
                    )  
                td.align-middle #{item.title}  
                td.align-middle  
                    input.form-control.form-control-sm(  
                        type="number"  
                        value=item.position   
                        style="width: 70px"  
                        min="1"  
                        name="position"  
                    )  
                td.align-middle(colspan="2")  
                    .btn-group  
                        button.btn.btn-sm.btn-outline-warning(  
                            title="Edit"  
                        )  
                            i.fas.fa-edit  
                            span.ml-1 Edit  
                        button.btn.btn-sm.btn-outline-success(  
                            button-restore  
                            data-id=item.id  
                            title="Restore"  
                        )  
                            i.fas.fa-undo  
                            span.ml-1 Restore  

            if (item.children && item.children.length > 0)  
                +table-tree(item.children, level + 2)