extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    include ../../partials/list-btn-users.pug

    .container.py-4
        .row.mb-4
            .col-12
                +box-head("List request received")

        .row.g-4(data-user-accept=user.id)
            each user in accepts
                .col-12.col-md-4(user-id=user.id data-href=`/users/detail/${user.id}`)
                    .box-user.card.h-100.border-0.shadow-sm.rounded-3.bg-white
                        .card-body.p-3
                            .d-flex.align-items-center
                                .position-relative.me-3
                                    img.rounded-circle.border.border-2.border-light.shadow-sm(
                                        src=(user.avatar ? user.avatar : "/images/avatar.svg")
                                        alt=user.fullName
                                        width="80"
                                        height="80"
                                        style="object-fit: cover;"
                                    )
                                
                                .flex-grow-1
                                    .fw-semibold.mb-2.fs-5.text-dark.lh-sm #{user.fullName}
                                    .d-flex.gap-2.flex-wrap.not-click
                                        button.btn.btn-primary.btn-sm.d-inline-flex.align-items-center.gap-2(
                                            button-accept-friend=user.id
                                        )
                                            i.fas.fa-user-check
                                            span Accept
                                        
                                        button.btn.btn-outline-secondary.btn-sm.d-inline-flex.align-items-center.gap-2(
                                            button-refuse-friend=user.id
                                        )
                                            i.fas.fa-user-times
                                            span Refuse
                                        
                                        button.btn.btn-secondary.btn-sm.d-inline-flex.align-items-center.gap-2.d-none(
                                            button-deleted-friend=user.id
                                            disabled
                                        )
                                            i.fas.fa-ban
                                            span Deleted
                                        
                                        button.btn.btn-success.btn-sm.d-inline-flex.align-items-center.gap-2.d-none(
                                            button-accepted-friend=user.id
                                            disabled
                                        )
                                            i.fas.fa-check-circle
                                            span Accepted
    
    block users
        script(type="module", src="/js/users.js") 

    style.
        .card {
            transition: transform 0.2s ease;
        }
        .card:hover {
            transform: translateY(-3px);
        }

        /* Button display states */
        .box-user [button-deleted-friend],
        .box-user [button-accepted-friend] {
            display: none !important;
        }

        .box-user.refuse [button-accept-friend],
        .box-user.refuse [button-refuse-friend] {
            display: none !important;
        }
        .box-user.refuse [button-deleted-friend] {
            display: inline-flex !important;
        }

        .box-user.accepted [button-accept-friend],
        .box-user.accepted [button-refuse-friend] {
            display: none !important;
        }
        .box-user.accepted [button-accepted-friend] {
            display: inline-flex !important;
        }