.sider
    .inner-menu 
            ul(class="list-group")
                li(class="list-group-item list-group-item list-group-item-dark")
                    a(href=`${prefixAdmin}/dashboard` class="text-dark text-decoration-none") Overview 
                li(class="list-group-item list-group-item list-group-item-dark")
                    a(href=`${prefixAdmin}/product-category` class="text-dark text-decoration-none") Category 
                li(class="list-group-item list-group-item list-group-item-dark")
                    a(href=`${prefixAdmin}/products` class="text-dark text-decoration-none") List Product
                li(class="list-group-item list-group-item list-group-item-dark")
                    a(href=`${prefixAdmin}/roles` class="text-dark text-decoration-none") Roles
                li(class="list-group-item list-group-item list-group-item-dark")
                    a(href=`${prefixAdmin}/roles/permissions` class="text-dark text-decoration-none") Permissions
                li(class="list-group-item list-group-item list-group-item-dark")
                    a(href=`${prefixAdmin}/accounts` class="text-dark text-decoration-none") Accounts


