.sider
    .inner-menu 
        ul.list-group
            li(class="list-group-item")
                a(href=`${prefixAdmin}/dashboard` class="text-decoration-none")
                    i.fas.fa-tachometer-alt
                    | Overview 
            li(class="list-group-item")
                a(href=`${prefixAdmin}/product-category` class="text-decoration-none")
                    i.fas.fa-folder
                    | Category 
            li(class="list-group-item")
                a(href=`${prefixAdmin}/products` class="text-decoration-none")
                    i.fas.fa-box
                    | Products
            li(class="list-group-item")
                a(href=`${prefixAdmin}/roles` class="text-decoration-none")
                    i.fas.fa-user-shield
                    | Roles
            li(class="list-group-item")
                a(href=`${prefixAdmin}/roles/permissions` class="text-decoration-none")
                    i.fas.fa-key
                    | Permissions
            li(class="list-group-item")
                a(href=`${prefixAdmin}/accounts` class="text-decoration-none")
                    i.fas.fa-users
                    | Accounts